// custom spacing
h1 {
  margin: 2rem auto;
}

h3,
p {
  margin: 1rem auto;
}

.toggle-spacing {
  width: 100px;
}

.layer-spacing {
  padding: 2rem;
  margin: 1rem;
}

.dropdown-spacing {
  width: 400px;
  margin-bottom: 2rem;
}

.accordion-spacing {
  width: 700px;
  padding: 2rem;
}

.zone-spacing {
  padding: 2rem;
}
